.text-xs {
  font-family: var(--font-pretendard);
  font-size: 12px;
  line-height: 20px;
  font-weight: 600; /* Semibold */
}

.text-xs-medium {
  font-family: var(--font-pretendard);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500; /* Medium */
}

.text-xs-regular {
  font-family: var(--font-pretendard);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400; /* Regular */
}
