.text_style {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media (max-width: 640px) {
  .text_style {
    flex-direction: column;
    align-items: start;
    gap: 14px;
  }
}
