:root {
  --grayscale-50: #ffffff;
  --grayscale-100: #f7f7fa;
  --grayscale-200: #e4e5f0;
  --grayscale-300: #c6cada;
  --grayscale-400: #8f9bb2;
  --grayscale-500: #474d66;
  --grayscale-600: #3b4108;

  --primary-100: #eef9f6;
  --primary-200: #4cbfa4;
  --primary-300: #32a68a;

  --secondary-red-100: #fbeded;
  --secondary-red-200: #d14343;

  --secondary-purple-100: #131314;

  --secondary-yellow-100: #ffd061;
}
