@import 'tailwindcss';
@import '../styles/typography-system.css';
@import '../styles/color-variables.css';

:root {
  --background: var(--grayscale-50);
}

/* ========== CUSTOM SCROLL BAR ========== */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--grayscale-300);
  border-radius: 8px;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox 대응 */
.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
