@import 'tailwindcss';
@import '../styles/typography-system.css';
@import '../styles/color-variables.css';
@import '../components/TextEditor/textEditorStyle.css';

:root {
  --background: var(--grayscale-50);
}

@theme {
  --color-grayscale-50: #ffffff;
  --color-grayscale-100: #f7f7fa;
  --color-grayscale-200: #e4e5f0;
  --color-grayscale-300: #c6cada;
  --color-grayscale-400: #8f9bb2;
  --color-grayscale-500: #474d66;
  --color-grayscale-600: #3b4108;

  --color-primary-100: #eef9f6;
  --color-primary-200: #4cbfa4;
  --color-primary-300: #32a68a;

  --color-secondary-red-100: #fbeded;
  --color-secondary-red-200: #d14343;

  --color-secondary-purple-100: #131314;

  --color-secondary-yellow-100: #ffd061;

  /* Notification colors */
  --color-notification-bg: #cbc9cf;
  --color-notification-unread: #3b82f6;
  --color-notification-read: #6b7280;
}

/* ========== CUSTOM SCROLL BAR ========== */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--grayscale-300);
  border-radius: 8px;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox 대응 */
.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* ========== NOTIFICATION STYLES ========== */
.notification-dropdown {
  @apply absolute top-full z-50 mt-2;
  right: 20px;
}

.notification-dropdown-mobile {
  right: 20px;
}

.notification-dropdown-desktop {
  right: -24px;
}

.notification-content {
  @apply rounded-lg shadow-lg;
  background-color: var(--color-notification-bg);
  padding: 20px 16px;
}

.notification-content-mobile {
  width: 320px;
}

.notification-content-desktop {
  width: 380px;
}

.notification-item {
  @apply relative rounded-lg border bg-white;
  border-color: var(--color-primary-100);
  padding: 12px 10px;
}

.notification-item-mobile {
  width: 288px;
}

.notification-item-desktop {
  width: 348px;
}

/* 버튼 로딩 애니메이션 */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-bounce {
  animation: bounce 1s ease-in-out infinite;
}

.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-150 {
  animation-delay: 0.15s;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
