/* ========== EDITOR CONTENT STYLE ========== */
.editor-style .ProseMirror:focus {
  outline: none;
}

.editor-style .ProseMirror {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.board p.is-editor-empty:first-child::before {
  color: var(--color-grayscale-200);
  font-size: 20px;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .board p.is-editor-empty:first-child::before {
    font-size: 16px;
  }
}

/* ========== CUSTOM SCROLLBAR ========== */
.editor-style .ProseMirror::-webkit-scrollbar {
  width: 4px; /* 스크롤바 너비 */
}

.editor-style .ProseMirror::-webkit-scrollbar-track {
  background: #f1f1f1; /* 트랙 색상 */
  border-radius: 4px;
}

.editor-style .ProseMirror::-webkit-scrollbar-thumb {
  background-color: var(--color-grayscale-300);
  border-radius: 8px;
  cursor: pointer;
}

.editor-style .ProseMirror::-webkit-scrollbar-track {
  background-color: transparent;
}

/* ========== TAG STYLING ========== */
.editor-style .ProseMirror h1 {
  font-size: 2rem; /* Tailwind text-2xl */
  font-weight: 700; /* bold */
  margin: 1rem 0;
}

.editor-style .ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

.editor-style .ProseMirror h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.75rem 0;
}

.editor-style .ProseMirror ul {
  list-style-type: disc;
  margin-left: 1.25rem;
}

.editor-style .ProseMirror ol {
  list-style-type: decimal;
  margin-left: 1.25rem;
  text-align: inherit;
}

.editor-style .ProseMirror li {
  margin: 0.25rem 0;
  text-align: inherit;
}

/* ---------- link ---------- */
.editor-style .ProseMirror a {
  color: #1658e4;
  text-decoration: underline;
  cursor: pointer;
}

/* ---------- divider ---------- */
.editor-style .ProseMirror hr {
  border: none;
  border-top: 1px solid var(--color-grayscale-400);
  margin: 0.75rem 0;
}

/* ---------- table ---------- */
.editor-style table {
  @apply border-collapse border border-gray-300 text-left;
}

.editor-style th,
.editor-style td {
  @apply border border-gray-300 px-2 py-1;
}

.editor-style th {
  @apply bg-gray-100 font-medium;
}

/* ---------- image ---------- */
.ProseMirror img {
  max-width: 100%; /* 부모 width에 맞춤 */
  height: auto; /* 가로세로 비율 유지 */
  display: block;
  object-fit: contain;
}
